.App {
  text-align: center;
  background-color: rgb(238,238,238);
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul{
  display: flex;
  gap: 10px;
}

li{
  list-style: none;
}
a{
  font-weight: bold;
}

.table{
  /* width: 80%; */
  margin: 0 auto;
}

.content-container{
  background-color: white;
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  border: 3px solid black;
}

.form-error{
  padding: 10px 10px;
}

.component-container{
  width: 80%;
  margin: 0 auto;
}

.button-container{
  display: flex;
  justify-content: space-around;
}

.button-container .btn{
  border: 2px solid black;
  box-shadow: 2px 3px 1px 0px black;
}

.nav-ul{
  display: flex;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
